<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Log Level: ERROR, WARN, INFO, DEBUG, TRACE -->
    <property name="LOG_PATH" value="./logs" />

    <!-- 在 console 中顯示的文字格式 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- ERROR level setting -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <!-- 檔案路徑 -->
        <file>${LOG_PATH}/now.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 封存 log 檔案的路徑及檔名格式 -->
            <fileNamePattern>${LOG_PATH}/archived/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 超過 10MB 就封存 log 檔案 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="File_Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- ERROR level setting -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <!-- 檔案路徑 -->
        <file>${LOG_PATH}/error/now.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 封存 log 檔案的路徑及檔名格式 -->
            <fileNamePattern>${LOG_PATH}/error/archived/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 超過 10MB 就封存 log 檔案 -->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="warn">
        <appender-ref ref="File" />
        <appender-ref ref="File_Error" />
        <appender-ref ref="Console" />
    </root>
    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>